@inject ICartService CartService;
@inject ISyncLocalStorageService LocalStorage;
@implements IDisposable

<a href="cart" class="brn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCartItemsCount()</span>
</a>
@code {

    private int GetCartItemsCount()
    {
        var cart = LocalStorage.GetItem<List<CartItem>>("cart");

        var result = cart != null ? cart.Count : 0;

        return result;
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }

}